flow.json
[
    {
        "id": "2e7cefc009966f3f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0eecbce8ab7e8763",
        "type": "tab",
        "label": "OctopiStecker",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4663190353e683a3",
        "type": "mqtt-broker",
        "name": "rabbitmq",
        "broker": "rabbitmq.rabbitmq.svc.cluster.local",
        "port": "1883",
        "clientid": "test-nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2a671bd8faaf5d39",
        "type": "prometheus-metric-config",
        "name": "wifi_rssi",
        "help": "wifi_rssi as measured by client",
        "labels": "client,bssid,channel,ssid",
        "mtype": "gauge"
    },
    {
        "id": "b5f50eec2f38637b",
        "type": "prometheus-metric-config",
        "name": "octopi_printer_power",
        "help": "Outputs if the printer is powerer on",
        "labels": "",
        "mtype": "gauge"
    },
    {
        "id": "f3e19ab4ee0475ea",
        "type": "mqtt in",
        "z": "2e7cefc009966f3f",
        "name": "test",
        "topic": "#",
        "qos": "1",
        "datatype": "auto",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "3c1d587cec62a5f2"
            ]
        ]
    },
    {
        "id": "3c1d587cec62a5f2",
        "type": "debug",
        "z": "2e7cefc009966f3f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "eefd40baac781746",
        "type": "mqtt in",
        "z": "0eecbce8ab7e8763",
        "d": true,
        "name": "",
        "topic": "power/3erstecker/SENSOR",
        "qos": "2",
        "datatype": "auto",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9421211a0b678475",
        "type": "mqtt in",
        "z": "0eecbce8ab7e8763",
        "name": "",
        "topic": "power/3erstecker/STATE",
        "qos": "2",
        "datatype": "json",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "cfa4c498846ecaf1"
            ]
        ]
    },
    {
        "id": "f6a7ac85fb1d1e2a",
        "type": "mqtt in",
        "z": "0eecbce8ab7e8763",
        "d": true,
        "name": "",
        "topic": "power/3erstecker/LWT",
        "qos": "2",
        "datatype": "auto",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "f16205c88a8d7b33",
        "type": "mqtt in",
        "z": "0eecbce8ab7e8763",
        "d": true,
        "name": "",
        "topic": "power/3erstecker/cmnd/POWER",
        "qos": "2",
        "datatype": "auto",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "001a80a257b7108f",
        "type": "mqtt in",
        "z": "0eecbce8ab7e8763",
        "d": true,
        "name": "",
        "topic": "power/3erstecker/INFO1",
        "qos": "2",
        "datatype": "auto",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d3cc7f7eb6497ca0",
        "type": "mqtt in",
        "z": "0eecbce8ab7e8763",
        "d": true,
        "name": "",
        "topic": "power/3erstecker/INFO2",
        "qos": "2",
        "datatype": "auto",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "4c63566d8e11715e",
        "type": "mqtt in",
        "z": "0eecbce8ab7e8763",
        "name": "",
        "topic": "power/3erstecker/IPOWER1",
        "qos": "2",
        "datatype": "json",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 340,
        "wires": [
            [
                "fdd3ac184a09f075"
            ]
        ]
    },
    {
        "id": "2569c2299dbafba6",
        "type": "mqtt in",
        "z": "0eecbce8ab7e8763",
        "name": "",
        "topic": "powe/3erstecker/#",
        "qos": "1",
        "datatype": "json",
        "broker": "4663190353e683a3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 40,
        "wires": [
            [
                "2754d7968730bf7e"
            ]
        ]
    },
    {
        "id": "2754d7968730bf7e",
        "type": "debug",
        "z": "0eecbce8ab7e8763",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 40,
        "wires": []
    },
    {
        "id": "df774ccf1d32fbf7",
        "type": "prometheus-exporter",
        "z": "0eecbce8ab7e8763",
        "name": "",
        "metric": "2a671bd8faaf5d39",
        "x": 760,
        "y": 260,
        "wires": []
    },
    {
        "id": "cfa4c498846ecaf1",
        "type": "function",
        "z": "0eecbce8ab7e8763",
        "name": "",
        "func": "let metric={};\n\nmetric.payload = {\n    \"op\": \"set\",\n    \"val\": msg.payload.Wifi.RSSI,\n    \"labels\": {\n        \"client\": \"3erstecker\",\n        \"bssid\": msg.payload.Wifi.BSSId,\n        \"channel\": msg.payload.Wifi.Channel,\n        \"ssid\": msg.payload.Wifi.SSId\n    }\n};\nreturn metric;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "df774ccf1d32fbf7"
            ]
        ]
    },
    {
        "id": "59e8bd03823eda3f",
        "type": "prometheus-exporter",
        "z": "0eecbce8ab7e8763",
        "name": "",
        "metric": "b5f50eec2f38637b",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "fdd3ac184a09f075",
        "type": "function",
        "z": "0eecbce8ab7e8763",
        "name": "",
        "func": "let metric={};\n\nmetric.payload = {\n    \"op\": \"set\",\n    \"val\": (msg.payload == \"ON\" ? 1 : 0)\n};\nreturn metric;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            [
                "59e8bd03823eda3f"
            ]
        ]
    }
]